token.txt

Config.json

GMR.log

discordia*.log
gateway*.json

deps/
!deps/CM.lua

modules/*.db

modules/ClashPlayers.json
modules/Permissions.json

modules/Clash.lua
modules/Dev.lua

*.dll
sqlite3.def