token.txt

Base.json

GMR.log

discordia*.log
gateway*.json

deps/
!deps/CM.lua

modules/*.db

modules/Captcha.json
modules/ClashPlayers.json
modules/Permissions.json

modules/Dev.lua

*.dll
sqlite3.def