token.txt

Base.json

discordia*.log
gateway*.json

deps/*
!deps/CM.lua
!deps/discordia
deps/discordia/*.lua
deps/discordia/libs/*
!deps/discordia/libs/voice
deps/discordia/libs/voice/*.lua
!deps/discordia/libs/voice/VoiceConnection.lua
deps/discordia/libs/voice/streams/*.lua
!deps/discordia/libs/voice/streams/FFmpegProcess.lua

modules/*.db

!modules/Captcha.db

modules/Captcha.json
modules/ClashPlayers.json
modules/Permissions.json

modules/Dev.lua

*.dll
sqlite3.def